@use '../../stylesheets/mixin' as mixin;

.root {
  width: 100%;
  min-height: 100px;
  padding: 5px 8px;
  margin-top: 5px;
  font-size: mixin.rem(16);
  resize: vertical;
  border: 1px solid mixin.$mainTextColor;
  border-radius: 3px;
}

.hasError {
  background-color: lighten(mixin.$errorColor, 20%);
  box-shadow: 0 0 6px 0 rgba(255, 51, 51, 0.7);
}
