@use '../../stylesheets/mixin' as mixin;

.root {
  & > fieldset {
    border: none;

    & > legend {
      margin: 0 auto;
    }
  }
}

.title {
  font-size: mixin.rem(20);
  font-weight: bold;
  outline: none;

  @include mixin.mq() {
    font-size: mixin.rem(18);
  }
}
