@use '../../stylesheets/mixin' as mixin;

.hidden {
  display: none;
  visibility: hidden;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45px;
  margin-top: 20px;
}
