$mainTextColor: #333;
$bgColor: #f8f8ff;
$statusListColor: #ccf;
$headerBgColor: #c6c6cc;
$primaryColor: #33f;
$primaryLightColor: #66f;
$errorColor: #f33;
$warningColor: #f93;

/* https://www.colordic.org/colorscheme/1009 */

$z_overlay: 10;
$z_bargermenu: 10;
$z_modal: 100;

@function rem($px) {
  @return ($px / 16) * 1rem;
}

$breakpoints: (
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (min-width: 768px)',
  'tablet': 'screen and (min-width: 768px) and (max-width: 1200px)',
) !default;

// メディアクエリ
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
