@use '../stylesheets/mixin' as mixin;

.root {
  display: block;
  width: 40px;
  height: 35px;
  padding: 0 3px;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    transition: all 0.7s;
    border-radius: 5px;
    background-color: mixin.$mainTextColor;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    transition: all 0.7s;
    border-radius: 5px;
    background-color: mixin.$mainTextColor;
  }

  &.isOpened {
    &::before {
      transform: translateY(10px) rotate(-45deg);
    }

    &::after {
      transform: translateY(-12px) rotate(45deg);
    }
  }
}

.bar {
  display: block;
  width: 100%;
  height: 3px;
  margin: 8px 0;
  transition: all 0.7s;
  border-radius: 5px;
  background-color: mixin.$mainTextColor;

  &.isOpened {
    opacity: 0;
  }
}
