@use '../../stylesheets/mixin' as mixin;

.root {
  position: relative;
}

.title {
  font-size: mixin.rem(22);
  font-weight: bold;
  text-align: center;

  @include mixin.mq() {
    font-size: mixin.rem(20);
  }
}
