@use '../../stylesheets/mixin' as mixin;

.root {
  padding: 0 5px;
  margin-left: 5px;
  font-size: mixin.rem(14);
  color: mixin.$bgColor;
  background-color: mixin.$warningColor;
  border-radius: 10px;
}
