@use '../../stylesheets/mixin' as mixin;

.wrapper {
  max-width: 375px;
  padding: 0 16px;
  margin: 10px auto 0;
}

.annotation {
  padding: 0 16px;
  margin-top: 20px;
  text-align: center;

  & > a,
  button {
    color: mixin.$primaryColor;
    text-decoration: underline;
  }
}
