@use '../stylesheets/mixin' as mixin;

.annotation {
  padding: 0 16px;
  margin-top: 20px;
  text-align: center;

  & > a,
  button {
    color: mixin.$primaryColor;
    text-decoration: underline;
  }
}
