@use '../../stylesheets/mixin' as mixin;

.root {
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 2px 3px 1px mixin.$mainTextColor;

  &.isDragging {
    opacity: 0.5;
  }
}

.link {
  display: block;
  padding: 10px 0;
}
