@use '../stylesheets/mixin' as mixin;

.root {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: mixin.$z_form;
  width: min(90vw, 500px);
  max-height: 90vh;
  padding: 30px 16px;
  overflow-y: auto;
  background-color: mixin.$bgColor;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.inputWrapper {
  margin-top: 5px;
}

.label {
  display: block;
  font-size: mixin.rem(18);

  @include mixin.mq() {
    font-size: mixin.rem(16);
  }
}

.input {
  width: 100%;
  padding: 5px 8px;
  margin-top: 5px;
  font-size: mixin.rem(16);
  border: 1px solid mixin.$mainTextColor;
  border-radius: 3px;
}

.error {
  height: 1.5em;
  font-size: mixin.rem(16);
  color: mixin.$errorColor;
}

.actionWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45px;
  margin-top: 10px;

  @include mixin.mq() {
    margin-top: 5px;
  }
}

.action {
  padding: 5px 15px;
  font-size: mixin.rem(18);
  color: mixin.$bgColor;
  background-color: mixin.$primaryColor;
  border: 3px solid mixin.$primaryColor;
  border-radius: 3px;
  box-shadow: 0 3px 5px 0 mixin.$mainTextColor;

  @include mixin.mq() {
    padding: 5px 10px;
    font-size: mixin.rem(16);
  }

  &:hover,
  &:focus {
    color: mixin.$primaryColor;
    background-color: mixin.$bgColor;
    border: 3px solid mixin.$primaryColor;
  }

  &:active {
    box-shadow: none;
    transform: translateY(3px);
  }
}
