@use '../stylesheets/mixin' as mixin;

.root {
  max-width: 750px;
  padding: 20px 16px 10px;
  margin: 0 auto;
}

.heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid mixin.$headerBgColor;
}

.title {
  font-size: mixin.rem(26);
  font-weight: bold;

  @include mixin.mq() {
    font-size: mixin.rem(18);
  }
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 25px;
  font-size: mixin.rem(20);
  font-weight: bold;
  color: mixin.$bgColor;
  background-color: mixin.$primaryColor;
  border-radius: 20px;

  @include mixin.mq() {
    padding: 2px 25px;
    font-size: mixin.rem(16);
  }
}

.statusListWrapper {
  position: absolute;
  // .headingのborder-bottom分を加味
  top: calc(100% + 5px);
  right: 0;
  min-width: 170px;
  padding: 15px;
  visibility: hidden;
  background-color: mixin.$statusListColor;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.7s;
  transform: translateY(-20px);

  &.isOpened {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.linkWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;

  .link {
    color: mixin.$primaryColor;
    text-decoration: underline;

    @include mixin.mq() {
      font-size: mixin.rem(14);
    }
  }
}

.wrapper {
  margin-top: 30px;
  border-bottom: 3px solid mixin.$headerBgColor;

  @include mixin.mq() {
    margin-top: 20px;
  }
}

.inner {
  display: grid;
  grid-template-areas:
    "description description"
    "assignTo createdBy"
    "startDate dueDate"
    "createdAt updatedAt";
  grid-template-columns: 50% 50%;
  gap: 10px 0;
  padding: 10px 5px;

  @include mixin.mq() {
    grid-template-areas:
      "description"
      "assignTo"
      "createdBy"
      "startDate"
      "dueDate"
      "createdAt"
      "updatedAt";
    grid-template-columns: 100%;
  }
}

.item {
  display: flex;
  align-items: center;

  @include mixin.mq() {
    font-size: mixin.rem(14);
  }
}

.description {
  grid-area: description;
}

.assignTo {
  grid-area: assignTo;
}

.createdBy {
  grid-area: createdBy;
}

.startDate {
  grid-area: startDate;
}

.dueDate {
  grid-area: dueDate;
}

.createdAt {
  grid-area: createdAt;
}

.updatedAt {
  grid-area: updatedAt;
}

.label {
  min-width: 100px;
}

.detail {
  white-space: pre-wrap;
}

.definition {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.delete {
  display: flex;
  align-items: center;
  padding: 0 3px;
  margin-left: auto;
  color: lighten(mixin.$mainTextColor, 20%);
}
