@use '../../stylesheets/mixin' as mixin;

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45px;
  margin-top: 10px;

  @include mixin.mq() {
    margin-top: 5px;
  }
}

.provider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
