@use '../../stylesheets/mixin' as mixin;

.wrapper {
  padding: 10px 0;
}

.item {
  &:not(:first-child) {
    margin-top: 10px;
    border-top: 2px solid mixin.$headerBgColor;
  }
}

.commentWrapper {
  padding: 5px 10px;
}

.comment {
  @include mixin.mq() {
    font-size: mixin.rem(14);
  }
}
