@use '../stylesheets/mixin' as mixin;

.wrapper {
  padding: 10px 0;
}

.item {
  &:not(:first-child) {
    margin-top: 10px;
    border-top: 2px solid mixin.$headerBgColor;
  }
}

.itemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-size: mixin.rem(14);

  @include mixin.mq() {
    font-size: mixin.rem(12);
  }
}

.commentWrapper {
  padding: 5px 10px;
}

.comment {
  @include mixin.mq() {
    font-size: mixin.rem(14);
  }
}

.empty {
  text-align: center;
}
