@use '../../stylesheets/mixin' as mixin;

.root {
  max-width: 750px;
  padding: 20px 16px 10px;
  margin: 0 auto;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 25px;
  font-size: mixin.rem(20);
  font-weight: bold;
  color: mixin.$bgColor;
  background-color: mixin.$primaryColor;
  border-radius: 20px;

  @include mixin.mq() {
    padding: 2px 25px;
    font-size: mixin.rem(16);
  }
}

.statusListWrapper {
  position: absolute;
  // .headingのborder-bottom分を加味
  top: calc(100% + 5px);
  right: 0;
  z-index: mixin.$z_statusList;
  min-width: 170px;
  padding: 15px;
  visibility: hidden;
  background-color: mixin.$statusListColor;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.7s;
  transform: translateY(-20px);

  &.isOpened {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.linkWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;

  .link {
    color: mixin.$primaryColor;
    text-decoration: underline;

    @include mixin.mq() {
      font-size: mixin.rem(14);
    }
  }
}

.wrapper {
  margin-top: 30px;
  border-bottom: 3px solid mixin.$headerBgColor;

  @include mixin.mq() {
    margin-top: 20px;
  }
}
