@use '../stylesheets/mixin' as mixin;

.actionWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45px;
  margin-top: 10px;

  @include mixin.mq() {
    margin-top: 5px;
  }
}

.action {
  padding: 5px 15px;
  font-size: mixin.rem(18);
  color: mixin.$bgColor;
  background-color: mixin.$primaryColor;
  border: 3px solid mixin.$primaryColor;
  border-radius: 3px;
  box-shadow: 0 3px 5px 0 mixin.$mainTextColor;

  @include mixin.mq() {
    padding: 5px 10px;
    font-size: mixin.rem(16);
  }

  &:hover,
  &:focus {
    color: mixin.$primaryColor;
    background-color: mixin.$bgColor;
    border: 3px solid mixin.$primaryColor;
  }

  &:active {
    box-shadow: none;
    transform: translateY(3px);
  }
}

.provider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
