@use '../stylesheets/mixin' as mixin;

.confirmation {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: mixin.$z_form;
  width: min(90vw, 500px);
  height: min(80vh, 300px);
  padding: 30px 16px;
  overflow-y: auto;
  background-color: mixin.$bgColor;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.title {
  font-size: mixin.rem(20);
  font-weight: bold;
}

.message {
  display: flex;
  flex: 1;
  align-items: center;
  margin-top: 15px;
  font-size: mixin.rem(18);
}

.actionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 45px;
  margin-top: 20px;
}

.action {
  padding: 5px 15px;
  font-size: mixin.rem(18);
  color: mixin.$bgColor;
  border-radius: 3px;
  box-shadow: 0 3px 5px 0 mixin.$mainTextColor;

  @include mixin.mq() {
    padding: 5px 10px;
    font-size: mixin.rem(16);
  }

  &:hover,
  &:focus {
    background-color: mixin.$bgColor;
  }

  &:active {
    box-shadow: none;
    transform: translateY(3px);
  }
}

.delete {
  background-color: mixin.$primaryColor;
  border: 3px solid mixin.$primaryColor;

  &:hover,
  &:focus {
    color: mixin.$primaryColor;
    border: 3px solid mixin.$primaryColor;
  }
}

.cancel {
  background-color: mixin.$primaryLightColor;
  border: 3px solid mixin.$primaryLightColor;

  &:hover,
  &:focus {
    color: mixin.$primaryLightColor;
    border: 3px solid mixin.$primaryLightColor;
  }
}
