@use '../../stylesheets/mixin' as mixin;

.root {
  flex: 1;
  padding: 15px 15px;
  border-radius: 3px;
  box-shadow: 0 2px 3px 1px mixin.$mainTextColor;
}

.status {
  font-size: mixin.rem(20);
  font-weight: bold;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}
