@use '../stylesheets/mixin' as mixin;

.header {
  width: 100vw;
  background-color: mixin.$headerBgColor;
}

.inner {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;

  @include mixin.mq() {
    padding: 0 8px;
  }
}

.title {
  font-size: mixin.rem(28);
  font-weight: bold;

  @include mixin.mq() {
    font-size: mixin.rem(20);
  }
}

.titleLink {
  display: block;
  overflow: hidden;
  width: 240px;
  height: 50px;
  white-space: nowrap;
  text-indent: 150%;
  border-radius: 3px;
  background-image: url("/images/logo_m.png");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;

  &:hover {
    background-color: darken(mixin.$headerBgColor, 10%);
  }

  &:active {
    background-color: mixin.$headerBgColor;
    box-shadow: inset 0 0 5px 5px darken(mixin.$headerBgColor, 10%);
  }

  @include mixin.mq() {
    width: 120px;
    height: 40px;
    background-image: url("/images/logo_s.png");
  }
}

.nav {
  @include mixin.mq() {
    display: none;
  }
}

.navList {
  display: flex;
  align-items: center;
}

.navItem {
  &:not(:first-child) {
    margin-left: 15px;

    @include mixin.mq() {
      margin-left: 0;
    }
  }
}

.navLink {
  display: block;
  padding: 12px 20px;
  font-size: mixin.rem(18);
  font-weight: bold;
  border-radius: 3px;

  @include mixin.mq() {
    padding: 5px;
    font-size: mixin.rem(14);
  }

  &:hover {
    background-color: darken(mixin.$headerBgColor, 10%);
  }

  &:active {
    background-color: mixin.$headerBgColor;
    box-shadow: inset 0 0 5px 5px darken(mixin.$headerBgColor, 10%);
  }
}

.menuButton {
  display: none;

  @include mixin.mq() {
    display: block;
  }
}

.menu {
  width: 44px;
  height: 44px;
  vertical-align: middle;
}
