@use '../../stylesheets/mixin' as mixin;

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-size: mixin.rem(14);

  @include mixin.mq() {
    font-size: mixin.rem(12);
  }
}
