@use '../../stylesheets/mixin' as mixin;

.profile {
  max-width: 500px;
  padding: 20px 16px 10px;
  margin: 0 auto;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45px;
  margin-top: 10px;
}
