@use '../stylesheets/mixin' as mixin;

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: lighten(mixin.$headerBgColor, 10%);
  border-radius: 20px;

  @include mixin.mq() {
    font-size: mixin.rem(14);
  }
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 85px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 110px;
}

.icon {
  width: 18px;
  height: 18px;
  margin-left: 3px;
}
