@use '../../stylesheets/mixin' as mixin;

.root {
  border: 1px solid mixin.$headerBgColor;
  border-radius: 3px;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  @include mixin.mq() {
    padding: 10px 5px;
    font-size: mixin.rem(14);
  }
}

.owner {
  display: block;
  width: 85px;
  overflow-x: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include mixin.mq() {
    width: 75px;
  }
}

.name {
  flex: 1 1 auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.progress {
  padding: 0 5px;
}

.progressBar {
  max-width: 100px;

  @include mixin.mq() {
    max-width: 80px;
  }
}
